<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Login</title>
</head>
<body>
<!--<div class="w3-container w3-padding-32 w3-center">-->
<!--    <h4 th:text="${msg}"></h4>-->
<!--</div>-->

<form action="" method="post" class="w3-container w3-padding-64 w3-border">
    <div class="w3-container">
        <h2>LogIn Form</h2>
    </div>
    <p class="w3-container">
        <label class="w3-section">username: </label>
        <input class="w3-input w3-section" type="text" name="userName" placeholder="please type your username"/></p>
    <p class="w3-container">
        <label class="w3-section">password: </label>
        <input class="w3-input w3-section" type="password" name="password" placeholder="please type your password"/></p>
    <p class="w3-container"><button class="w3-btn w3-block w3-teal w3-section">LogIn</button></p>
    <p class="w3-container"><a href="register">No have account? Register now</a></p>
</form>

</body>
</html>